@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
}

header {
    background-color: #a58631;
    padding: 0%;
    gap: 2rem;

}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 1rem;

}

.logo {
    float: right;
    width: 25%;
    text-align: center;
    margin-right: 0%;
    position: relative;
}


.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: inline-flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    padding: 10px 50px;
    background: #a58631;
    color: #b9a265;
    margin: 10%;
    display: inline;
    text-decoration: solid;
    border: 0cap #fff;

}

.login-button button a {
    background: #a58631;
    color: #fff;
    font-size: small;
    text-decoration: solid;



}

.mobile-menu-icon {}

.mobile-menu {
    display: none;
}

.img-banner {
    background: url(../img/Respeitoaoido\ .png) no-repeat right top fixed;
    background-size: cover;
    height: 80vh;
    background-color: white;

}


.footer {
    width: 100%;
    color: #a58631;


}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: #a58631;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4rem 4.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer__social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;

}

#footer__social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: white;
    transition: all 0.4s;
}

#footer__social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.9;
}

#facebook {
    background: #4267b3;
}

#linkedin {
    background: #4267b3;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9887);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    color: white;
}

.footer-link {
    color: white;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: white;
}

#footer__subscribe {
    display: flex;
    flex-direction: column;
}

#footer__subscribe p {
    color: white;
}

.autora p {
    background-color: #a58631;
    color: white;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
}

#input_groud input {
    all: unset;
    padding: 1rem;
    width: 100%;
}

#input_group button {
    background-color: white;
    border: none;
    color: #a58631;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#input_group button:hover {
    opacity: 0.8;
}

.open {
    display: block;
}

.sobre {

    padding: 1.6rem;
    background-color: #a58631;
    background-image: url(../img/aco.png);
    background-repeat: no-repeat;



}

.section__titulo {
    font-size: 5.8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    color: #e5cd8a;
    margin-left: 20%;
}

.section_titulo--destaque {
    color: white;
    font-size: 7.8rem;
}

.sobre-texto {
    margin-top: 1.6rem;

}

.sobre_texto--destaque {
    color: #e5cd8a;
    font-size: 3.8rem;

}

.sobre-texto__titulo {
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    text-align: center;
    color: white;
    font-size: 4.8rem;


}

.sobre-c {
    display: grid;
    flex-wrap: wrap;
    align-items: center;





}

.sobre-texto {

    flex-wrap: wrap;
    align-items: center;
   
}

.sobre-c__img {
    align-items: center;
    max-width: 70%;
    margin: 10%;
    margin-left: 35%;

}

p {
    color: black;
    font-size: larger;
    font-weight: bold;
    margin-left: 25%;
    text-align: center;
   
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    max-width: 180%;
    text-align: center;
    font-weight: bold;
    margin: 5%;
    margin-top: 0%;
    color: #1b1608;




}

.cards:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card p {
    color: #3d3316;
    font-size: 16px;
    max-width: 175%;
    font-weight: bold;
    text-align: justify;
    margin-right: 10%;



}

.card {

    flex-direction: column;
    align-items: center;
    box-shadow: 6px 6px 10px #a58631;
    transition: all 0.4s;
    display: flex;
    max-width: 175%;
    font-weight: bold;

}

h3 {
    color: #19150a;

    font-weight: bold;
}

.not {
    max-width: 75%;

}

.bloco-title {
    font-size: 4.8rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    text-align: center;
    color: white;
    background-color: #8e7635;

}

.noticias-link {
    text-decoration: none;
    color: #654b04;

}

/* Estilos gerais */
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
}

/* Estilos para telas pequenas */
@media (max-width: 767px) {
    header {
        padding: 1rem; /* Ajuste o padding do cabeçalho */
        gap: 1rem; /* Ajuste o gap do cabeçalho */
    }


    .nav-bar {
        flex-direction: column; /* Coloca a barra de navegação em uma coluna */
        align-items: center; /* Centraliza os itens na coluna */
        padding: 1rem; /* Ajuste o padding da barra de navegação */
    }

    .logo {
        float: none; /* Remove o float para que o logotipo seja centralizado */
        width: 100%; /* Ocupa a largura total */
        margin: 1rem 0; /* Ajuste as margens */
    }

    .nav-list ul {
        flex-direction: column; /* Coloca a lista de navegação em uma coluna */
        align-items: center; /* Centraliza os itens na coluna */
    }

    .nav-item {
        margin: 0.5rem 0; /* Ajuste as margens dos itens da lista de navegação */
    }

    .login-button {
        text-align: center; /* Centraliza o botão de login */
        margin: 1rem 0; /* Ajuste a margem do botão de login */
    }

    .img-banner {
        width: 100;
        height: 50vh; /* Ajuste a altura do banner para telas pequenas */
    }

    .section__titulo {
        font-size: 3.5rem; /* Ajuste o tamanho do título da seção */
        margin-left: 10%; /* Ajuste a margem do título da seção */
    }

    .cards {
        grid-template-columns: 1fr; /* Coloca os cards em uma coluna */
        max-width: 100%; /* Ocupa a largura total */
        gap: 1rem; /* Ajuste o gap dos cards */
    }

    .card {
        max-width: 100%; /* Ocupa a largura total */
    }

    .sobre-c__img {
        max-width: 100%; /* Ocupa a largura total */
        margin: 2rem 0; /* Ajuste a margem da imagem de sobre */
    }

    .p {
        margin-left: 5%; /* Ajuste a margem do parágrafo */
        margin-right: 5%; /* Ajuste a margem do parágrafo */
    }
}
